@mixin reset {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$mobile-break: 577px;
$medium-break: 769px;
$large-break: 993px;
$xlarge-break: 1201px;

* {
  // reset all css and assign border box for easier styling placement
  @include reset;

  &::before, &::after {
    @include reset;
  }

  overflow-x: hidden;

  .app {
    @media screen and (min-width: 0) {
      max-width: 1200px;
      margin: auto;
    }

    .form {
      @media screen and (min-width: 0) {
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
        width: 70%;
      }

      h3 {
        @media screen and (min-width: 0) {
          text-align: center;
        }
      }

      label {
        @media screen and (min-width: 0) {
          display: block;
          margin-bottom: 0.25rem;
        }
      }

      input {
        @media screen and (min-width: 0) {
          border: 1px solid black;
          border-radius: 5px;
          padding: 0.3rem 0.5rem;
          margin-bottom: 0.5rem;
        }
      }

      button {
        @media screen and (min-width: 0) {
          padding: 0.5rem 0;
          transition: ease-in 0.1s background-color;
        }
      }
    }

    #logout {
      @media screen and (min-width: 0) {
        padding: 0.2rem 0.5rem;
        display: block;
        margin: 0 auto;
      }
    }

    button {
      border: 1px solid black;
      border-radius: 5px;
      background: none;
    }

    #title {
      @media screen and (min-width: 0) {
        margin-top: 1rem;
        text-align: center;
      }
    }

    #auth-forms-container {
      @media screen and (min-width: 0) {
        display: flex;
        justify-content: space-around;
        flex-direction: column-reverse;
        align-items: center;
      }
    }

    #email-container {
      @media screen and (min-width: 0) {
        width: 90%;
        margin: 0 auto;
      }

      h2 {
        display: inline;
      }

      .compose {
        @media screen and (min-width: 0) {
          float: right;
          width: 6rem;
          padding: 0.2rem 0;
        }
      }
      
      .form {
        @media screen and (min-width: 0) {
          width: 100%;
          margin-top: 0;
          margin-bottom: 2rem;
        }

        input {
          @media screen and (min-width: 0) {
            width: 100%;
          }
        }

        textarea {
          @media screen and (min-width: 0) {
            height: 3rem;
            margin-bottom: 0.5rem;
          }
        }
      }

      .email-item {
        @media screen and (min-width: 0) {
          border-bottom: 1px solid black;
        }

        button {
          @media screen and (min-width: 0) {
            padding: 0.2rem 0.5rem;
            margin-bottom: 0.5rem;
          }
        }
      }
    }
  }
}